<div class="position-relative rounded-4 overflow-hidden bg-black" style="height: 190px;">
    <div class="position-absolute top-0 start-0 w-100 h-100">
        <img src="assets/Backgrounds/hueBgImage.png" class="img-fluid w-100 h-100" style="object-fit: cover;">
    </div>
</div>
<div class="position-relative p-4" style="margin-top: -206px;">
  <h4 class="NeuBold text-light m-2 pb-2">Access Control Anomaly Dashboard</h4>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <h3 class="DMSans fw-bold mb-0">{{totalLogs}}</h3>
          <span class="fs-5">Total Logs Analyzed</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <h3 class="DMSans fw-bold mb-0">{{ totalAnomalies }}</h3>
          <span class="fs-5">Total Anomalies Detected</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <h3 class="DMSans fw-bold mb-0">{{totalLogs}}</h3>
          <span class="fs-5">System Health</span>
        </div>
        </div>
    </div>
  </div>
</div>