<div class="position-relative rounded-4 overflow-hidden bg-black" style="height: 190px;">
    <div class="position-absolute top-0 start-0 w-100 h-100">
        <img src="assets/Backgrounds/hueBgImage.png" class="img-fluid w-100 h-100" style="object-fit: cover;">
    </div>
</div>
<div class="position-relative p-4" style="margin-top: -206px;">
  <div class="d-flex justify-content-between">
    <h4 class="NeuBold text-light m-2 pb-2">Access Control Anomaly Dashboard</h4>
    <div>
      <h5 class="text-light mb-0 NeuLight"><small class="fs-6">Last fetched</small> {{latestDate}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="DMSans fw-bold mb-0">{{totalLogs}}</h3>
            <span class="NeuLight" [ngClass]="getTrendClass('logs')">{{logsChange | number:'1.1-1'}}%</span>
          </div>
          <p class="fs-5 mb-0">Total Logs Analyzed</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="DMSans fw-bold mb-0">{{totalAnomalies}}</h3>
            <span class="NeuLight" [ngClass]="getTrendClass('anomalies')">{{anomaliesChange | number:'1.1-1'}}%</span>
          </div>
          <p class="fs-5 mb-0">Total Anomalies Detected</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-3">
      <div class="shadow-sm blur-container rounded-4 p-4" style="background-color: #E5E5E5; color: #000000;">
        <div class="d-grid">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="DMSans fw-bold mb-0">{{systemHealth}}%</h3>
            <span class="NeuLight" [ngClass]="getTrendClass('health')">{{healthChange | number:'1.1-1'}}%</span>
          </div>
          <p class="fs-5 mb-0">System Health</p>
        </div>
      </div>
    </div>
  </div>
</div>