<div class="bg-dark text-white p-4 rounded-4 mb-4">
  <div class="d-flex gap-4">
    <div class="card flex-fill bg-secondary text-white p-3 rounded-2">
      <div class="d-flex align-items-center mb-2">
        <mat-icon>trending_up</mat-icon>
        <span class="ms-2">Total Logs Analyzed</span>
      </div>
      <h2>{{ totalLogs }}</h2>
    </div>

    <div class="card flex-fill bg-secondary text-white p-3 rounded-2">
      <div class="d-flex align-items-center mb-2">
        <mat-icon>warning</mat-icon>
        <span class="ms-2">Anomalies</span>
      </div>
      <h2>{{ totalAnomalies }}</h2>
    </div>
  </div>
</div>
