<div class="d-flex p-3">
  <img [src]="logo" alt="Oryggi Logo" style="width: 130px;"/>
</div>
<div class="container d-flex justify-content-center pt-5">
  <div class="row w-100">
    <div class="col-md-6 d-flex flex-column justify-content-center px-5">
      <div class="py-4">
        <h1 class="NeuBold">Welcome to</h1>
        <h1 class="NeuBold">Oryggi AiXpert</h1>
      </div>
      <p class="text-muted mb-4">Please sign in to your account</p>
      <form *ngIf="mode === 'login'" [formGroup]="loginForm" (ngSubmit)="login()" class="w-75">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('pattern')">Enter a valid email</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>
        <button mat-flat-button class="custom-btn-lg w-100 mb-3" type="submit" [disabled]="loginForm.invalid || loading">
          <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="20"></mat-progress-spinner>
          <span *ngIf="!loading">LOGIN</span>
        </button>
        <div class="d-flex justify-content-end">
          <a (click)="mode = 'signup'" class="text-body-secondary" style="cursor:pointer;">Signup</a>
        </div>
        <p *ngIf="loginMessage" class="text-danger mt-2">{{ loginMessage }}</p>
      </form>
      <form *ngIf="mode === 'signup'" [formGroup]="signupForm" (ngSubmit)="signup()" class="w-75">
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Email Address</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="signupForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="signupForm.get('email')?.hasError('pattern')">Enter a valid email</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Company Name</mat-label>
          <input matInput type="text" formControlName="companyName" />
          <mat-error *ngIf="signupForm.get('companyName')?.hasError('required')">Company name is required</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="signupForm.get('password')?.hasError('required')">Password is required</mat-error>
        </mat-form-field>

        <button mat-flat-button class="custom-btn-lg w-100 mb-3" type="submit" [disabled]="signupForm.invalid || signupLoading">
          <mat-progress-spinner *ngIf="signupLoading" mode="indeterminate" diameter="20"></mat-progress-spinner>
          <span *ngIf="!signupLoading">Signup</span>
        </button>

        <div class="d-flex justify-content-end">
          <a (click)="mode = 'login'" class="text-body-secondary" style="cursor:pointer;">Already a member? Login</a>
        </div>

        <p *ngIf="signupMessage" class="text-danger mt-2">{{ signupMessage }}</p>
      </form>
      <form *ngIf="mode === 'verifyOtp'" [formGroup]="otpForm" (ngSubmit)="verifyOtp()" class="w-75">
        <h3>Verify OTP</h3>
        <p>OTP sent to: <strong>{{ signupForm.get('email')?.value }}</strong></p>
        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Enter OTP</mat-label>
          <input matInput maxlength="6" formControlName="otp"/>
          <mat-error *ngIf="otpForm.get('otp')?.hasError('required')">OTP is required</mat-error>
          <mat-error *ngIf="otpForm.get('otp')?.hasError('pattern')">OTP must be 6 digits</mat-error>
        </mat-form-field>
        <button mat-flat-button class="custom-btn-lg w-100 mb-3" type="submit" [disabled]="otpForm.invalid || otpLoading">
          <mat-progress-spinner *ngIf="otpLoading" mode="indeterminate" diameter="20"></mat-progress-spinner>
          <span *ngIf="!otpLoading">Verify OTP</span>
        </button> 
        <p *ngIf="verifyMessage" class="text-danger mt-2">{{ verifyMessage }}</p>
      </form>
    </div>
    <div class="col-md-6 bg-black text-light d-flex flex-column justify-content-center align-items-start p-5 rounded-5">
      <h4>With Oryggi AiXpert Platform</h4>
      <h6 class="mb-4">Your AI-powered Access & Security Solution</h6>
      <div class="pt-4">
        <div class="row">
          <div class="col-md-6">
            <span class="NeueMachina-Light mb-2 d-flex"><mat-icon class="me-3" style="color: #F7E100;">account_tree</mat-icon>Adaptive Access Control</span>
          </div>
          <div class="col-md-6">
            <span class="NeueMachina-Light mb-2 d-flex"><mat-icon class="me-3" style="color: #F7E100;">batch_prediction</mat-icon>Real-Time Threat Detection & Alerts</span>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <span class="NeueMachina-Light mb-2 d-flex"><mat-icon class="me-3" style="color: #F7E100;">model_training</mat-icon>Predictive Analytics for Enhanced Safety</span>
          </div>
          <div class="col-md-6">
            <span class="NeueMachina-Light mb-2 d-flex"><mat-icon class="me-3" style="color: #F7E100;">online_prediction</mat-icon>Seamless Cloud & On-Premise Integration</span>
          </div>
        </div>
      </div>
      <div class="p-3 rounded-4 mt-5"
        style="background-image: url('assets/Backgrounds/blurBg.png'); background-size: cover; background-position: center;">
        <h5 class="d-flex align-items-center mb-2">
          <mat-icon>psychology</mat-icon>&nbsp; AiXpert Smart Security
        </h5>
        <p class="mb-0">
          Powered by AI, AiXpert redefines security with behavior analysis, predictive threat detection, 
          and automated decision-making—ensuring your organization stays protected, proactive, and future-ready.
        </p>
      </div>
    </div>
  </div>
</div>