<div class="d-flex justify-content-between m-3">
    <div class="d-flex align-items-center">
        <img height="40" src="{{logo}}" alt="">
    </div>
    <div class="d-flex align-items-center bg-body-secondary px-3 py-2 rounded-5">
        <div>
            <img src="assets/Logo/logo.png" height="20" alt="">
        </div>  
        <h4 class="NeuRegular mx-2 mb-0">{{companyName}}</h4>
    </div>
    <div class="d-flex align-items-center gap-2">
        <app-log-out></app-log-out>
        <img class="rounded-2 shadow-lg" height="40" [src]="image">
    </div>
</div>