<app-header></app-header>
<div class="p-4">
  <app-dashboard-counts [totalLogs]="totalLogs" [totalAnomalies]="totalAnomalies" [systemHealth]="systemHealth"></app-dashboard-counts>
  <div class="row py-4">
    <div class="col-md-4">
      <app-anomaly-severity [series]="chartData"></app-anomaly-severity>
    </div>
    <div class="col-md-4">
      <app-device-wise-severity [anomalies]="anomalies"></app-device-wise-severity>
    </div>
    <div class="col-md-4">
      <app-type-wise-severity [anomalies]="anomalies"></app-type-wise-severity>
    </div>
  </div>
    <div class="row">
      <app-recent-anomalies [rowData]="anomalies"></app-recent-anomalies>
    </div>
</div>
