<h2 mat-dialog-title>Manage Shifts</h2>
<mat-dialog-content>
    <div class="row">
        <mat-form-field appearance="outline" class="w-100 mb-2">
            <mat-label>Shift Name</mat-label>
            <input matInput [(ngModel)]="shiftName">
        </mat-form-field>
    </div>
    <div class="d-flex justify-content-around">
        <div class="d-flex align-items-center">
            <p class="m-0 me-3">Shift Start Time</p>
            <ngb-timepicker [(ngModel)]="startTime"></ngb-timepicker>
        </div>
        <div class="d-flex align-items-center">
            <p class="m-0 me-3">Shift End Time</p>
            <ngb-timepicker [(ngModel)]="endTime"></ngb-timepicker>
        </div>
    </div>
    <button mat-mini-fab (click)="addShift()" [disabled]="!shiftName || !startTime || !endTime">
        <mat-icon>add</mat-icon>
    </button>
    <table mat-table [dataSource]="shifts" class="mat-elevation-z8 mt-3" *ngIf="shifts.length">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Shift Name </th>
            <td mat-cell *matCellDef="let shift"> {{shift.name}} </td>
        </ng-container>
        <ng-container matColumnDef="start">
            <th mat-header-cell *matHeaderCellDef> Shift Start Time </th>
            <td mat-cell *matCellDef="let shift"> {{ this.utilService.formatTime(shift.start) }} </td>
        </ng-container>
        <ng-container matColumnDef="end">
            <th mat-header-cell *matHeaderCellDef> Shift End Time </th>
            <td mat-cell *matCellDef="let shift"> {{ this.utilService.formatTime(shift.end) }} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let shift; let i = index">
            <button mat-icon-button (click)="removeShift(i)">
                <mat-icon>delete</mat-icon>
            </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-stroked-button class="" (click)="close()">Cancel</button>
    <button mat-flat-button class="bg-dark" (click)="save()" [disabled]="shifts.length === 0">Save</button>
</mat-dialog-actions>